@model ASP_NetMVC.Models.Product
@{
    ViewData["Title"] = " Create";

        }
<h2>This is Create</h2>
<form action="Save" method="post">
    <ul>       
        <li> Name <input name="Name" /> </li>       
        <li> Price  <input name="Price" /></li>
        <li> <input type="submit" value="Submit" /></li>
    </ul>
</form>